/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* REMOVE these if you had them here: */
  /* background-color: #0d1117; */
  /* color: #c9d1d9; */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth theme change */

  
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}